.jumbotron{
   background-color: #9966CC;
   color:white;
}
.footer{
    background-color:#CC99FF;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}



.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background: #512DA8;
}

.carousel-item{
    height:300px;
}

.carousel-item img {
    position: absolute;
    top:0;
    left:0;
}